<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crysn.goodgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SelectRoleMenu"></activity>
        <activity
            android:name=".view.StudentMainMenu"
            android:parentActivityName=".view.SelectRoleMenu">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.SelectRoleMenu" />
        </activity>
        <activity
            android:name=".view.TeacherMainMenu"
            android:parentActivityName=".view.SelectRoleMenu">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.SelectRoleMenu" />
        </activity>
        <activity
            android:name=".view.RegistrationMenu"
            android:parentActivityName=".view.RegistrationMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegistrationMenu" />
        </activity>
        <activity
            android:name=".view.LevelsMenu"
            android:parentActivityName=".view.StudentMainMenu">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.StudentMainMenu" />
            >
        </activity>
        <activity
            android:name=".view.GamesMenu"
            android:parentActivityName=".view.LevelsMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LevelsMenu" />
            >
        </activity>
        <activity android:name=".view.ChooseCorrectWord"
            android:parentActivityName=".view.GamesMenu"><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.GamesMenu"/></activity>

        <activity android:name=".view.EditWordsMenuActivity"
            android:parentActivityName=".view.TeacherMainMenu"><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.TeacherMainMenu"/></activity>
    </application>

</manifest>